/**
 * Float Layout Activity
 **/
h1,h2,h3,h4 {
	font-family: 'Georgia', 'Times', 'Times New Roman', serif;
	color: #4aaaa5;
	}

* {
  box-sizing: border-box;
  text-align: center;
}

body {
	font-size: 18px;
	line-height: 32px;
	font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
	text-align: left;
}

header {
  padding: 30px;
  margin-left: 40px;
  margin-top: 20px;
  background: #4aaaa5;
  font-size: 30px;
  float: left;

}

nav {
  padding: 40px;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  margin-top: 20px;
  color: #333;
  font-size: 30px; 
  float: right;
  background: #fff2cc;
}

section {
	padding: 20px;
	margin: 20px;
	background: white;
	width: 45%;
	float: left;
	border-radius: 15px;
	position: relative;
}

aside {
	padding: 20px;
 	color: black;
	background: white;
	margin-top: 20px;
	margin-right: 20px;
	width: 35%;
	float: right;
	border-radius: 15px;
	text-align: center;
	position: relative;
}

footer {
	padding: 20px;
  	 margin-bottom: 20px;
 	 color: #333;
	background: #ccc;
	font-size: 12px;
	border-top: 5px;
	border-top-style: solid;
	border-top-color: #006644;
	border-bottom-right-radius: 15px;
	border-bottom-left-radius: 15px;

}


#fullWidthContainer {
	background: #fff2cc;
	padding: 20px;
 }

#topBar {
	padding: 20px;
	width: 100%;
	height: 80px;
	margin-top: 50px;
	background: #006644;
}


.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.center {
		text-align: center;
}

.navbox {
	text-align: center;
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	padding: 13px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}

.headerbox {
	text-align: center;
	border-style: solid;
	border-color: grey;
	border-width: 1px;
	padding: 13px;
	border-top-left-radius: 15px;
	border-top-right-radius: 15px;
}
.padded {
	padding-left: 10px;
	padding-right: 10px;
}

.inputboxes {
	text-align: left;
}

@media screen and (min-width: 980px) {
}
@media screen and (max-width: 768px) {

}

@media screen and (max-width: 640px) {
header {
		float: none;

	}
	nav {
		float: none;
		padding: 0px;
	}
}
